numpy==1.19.5
openai==0.19.0
PyYAML==6.0
tarski==0.7.0
transformers==4.22.2

I have the following restrictions on my actions:
To perform Pick up action, the following facts need to be true: Clear object, On table object, Hand-empty.
Once Pick up action is performed the following facts will be true: Holding object.
Once Pick up action is performed the following facts will be false: Clear object, On table object, Hand-empty.
To perform Put down action, the following facts need to be true: Holding object.
Once Put down action is performed the following facts will be true: Clear object, On table object, Hand-empty.
Once Put down action is performed the following facts will be false: Holding object.
To perform Stack action, the following needs to be true: Clear other object, Holding object.
Once Stack action is performed the following will be true: Hand-empty, Holding object, Object On other object.
Once Stack action is performed the following will be false: Clear other object, Holding object.
To perform Unstack action, the following needs to be true: Object On other object, Clear object, Hand-empty.
Once Unstack action is performed the following will be true: Holding object, Clear other object.
Once Unstack action is performed the following will be false:, Object On other object, Clear object, Hand-empty.